name: Code Quality
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Descargar proyecto
        uses: actions/checkout@v2
        with:
          persist-credential: false

      - name: Instalar Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Instalar dependencias
        run: |
          npm install
      - name: Sintaxis estándar prettier
        run: |
          echo "Recuerda tener instalado Prettier como formateador de código en tu Editor de texto"
          echo "Este código usará como estándar la indentación de Prettier."
          echo "Para solucionar tu indentación, ejecuta npm run sintax:fix"
          npm run test:sintax
      - name: Estándares del proyecto
        run: |
          npm test
      - name: Calidad del código
        run: |
          echo "Se revisará la calidad del código para que la consola no tenga warnings ni errores."
          echo "Se validará que no existan variables sin usar, console.logs, malos estándares de código, etc."
          npm run lint
